@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body{
   background-color: rgb(253, 222, 222);
}

/* #header{
   width: 100%;
   height: 100vh;
   background-image: url(logo.png);
   background-repeat: no-repeat;
   background-size: 630px 513px;
   background-position: left 100% top 15%; 
} */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;        
}

.logo{
    width: 18%;
    height: 160px;     
 }
 
 nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;     
 }
 
 nav ul li a{
    color: rgb(5, 5, 5);
    text-decoration: none;
    font-size: 18px;
    position: relative;     
 }
 
 nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(236 122 47);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.6s;     
 }
 
 nav ul li a:hover::after{
    width: 100%;     
 }


 .container{
   padding: 10px 10%;
 }


 .header-content h1{
   font-size: 60px;
   margin-top: 20px;     
}

.header-content h1 span{
   color: #d5241d;
   font-family: 'Anonymous Pro', monospace;

}


 

.header-content p{
   font-size: 25px;
}

.header-content p span{
   color: #d5241d;
}



.slideshow-container {
   padding: 36px 10px;
   width: 100%;
   position: relative;
   margin: 10px;
 }
 
 /* Caption text */
 .text {
   color: #d5241d;
   font-size: 45px;
   padding: 8px 12px;
   position: absolute;
   bottom: -25px;
   margin-left: -41px;
   width: 100%;
   text-align: center;
 }
 
 /* Number text (1/3 etc) */
 .numbertext {
   color: #d5241d;
   font-size: 12px;
   padding: 8px 12px;
   position: absolute;
   top: 0;
 }
 
 /* The dots/bullets/indicators */
 .dot {
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
 }
 
 .active {
   background-color: #717171;
 }
 
 /* Fading animation */
 .fade {
   animation-name: fade;
   animation-duration: 1.5s;
 }
 
 @keyframes fade {
   from {opacity: .4} 
   to {opacity: 1}
 }

 .sub-title{
   font-size: 60px;
   font-weight: 600px;
   color: #d5241d;     
}

/*about------------*/
.services-list{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   grid-gap: 40px;
   margin-top: 50px;
}

.services-list div{
   color: black;
   padding: 40px;
   font-size: 13px;
   font-weight: 300;
   border-radius: 10px;
   background: #eec4c4;
   transition: background 0.5s, transform 0.5s;
}

.services-list div i{
   font-size: 50px;
   margin-bottom: 30px;
}

.services-list div h2{
   font-size: 30px;
   font-weight: 500;
   margin-bottom: 15px;
}

.services-list div a{
   text-decoration: none;
   color: black;
   font-size: 12px;
   margin-top: 20px;
   display: inline-block;
}

.services-list div:hover{
   background: #d5241d;
   color: white;
   transform: translateY(-10px);
}
/**=------------------------------------------------*/

 .col{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap; 
 }

 .contact-left{
   flex-basis: 35%;
 }

 .contact-right{
   flex-basis: 60%;
}

 .contact-left p{
   margin-top: 30px;
   font-size: 22px;
   font-weight: 500px;
 }

 .contact-left i{
   color: #d5241d;
 }

 
.contact-right form{
   width: 100%;
   margin-top: 45px;
}

form input, form textarea{
   width: 100%;
   border: 0;
   outline: none;
   background: #e3cece;
   padding: 15px;
   margin: 15px 0;
   font-size: 18px;
   border-radius: 6px;
}

form ::placeholder{
   color: #d5241d;
}

.sub-btn{
   padding: 14px 60px;
   font-size: 18px;
   margin-top: 20px;
   cursor: pointer;
   border-radius: 6px;
   border: 1px solid #d5241d;
   color: #d5241d;
   background-color: #e3cece;   
}

.sub-btn:hover{
   background-color: #d5241d;
   color: white;
}

@media only screen and (max-width: 300px) {
   .mySlides img{
      height: 290px;
   }
}
